* {
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #ffffff;
    color: #000000;
    line-height: 1.6;
    padding: 20px;
}

h1 {
    font-size: 84px;
    font-style: normal;
    font-weight: 400;
}

p {
    font-size: 24px;
    color: blue;
}